@font-face {
  font-family: "roboto-regular";
  src: url("../police/roboto/regular/Roboto-Regular.eot");
  src: url("../police/roboto/regular/Roboto-Regular.eot?iefix") format("eot"), url("../police/roboto/regular/Roboto-Regular.woff") format("woff"), url("../police/roboto/regular/Roboto-Regular.ttf") format("truetype"), url("../police/roboto/regular/Roboto-Regular.svg") format("svg");
}
@font-face {
  font-family: "shrikhand";
  src: url("../police/shrikhand/Shrikhand-Regular.otf") format("opentype");
}
body {
  font-family: "roboto-regular";
}

h1 {
  font-family: "shrikhand";
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0;
}

.btn {
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-radius: 40px;
  padding: 15px 20px 15px 20px;
  color: white;
  border: none;
}

.fa-location-dot {
  padding-right: 10px;
}

.arrow {
  position: relative;
}

.fa-arrow-left {
  font-size: 25px;
  color: black;
  position: absolute;
  left: 20px;
  top: 5px;
}

header {
  padding: 1rem;
}
header .logo {
  align-items: center;
}

.head {
  text-align: center;
}
.head--top {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 228, 228);
}
.head--top p {
  font-weight: bold;
}
.head--bot {
  background-color: rgb(240, 240, 240);
  padding: 30px 0;
}
.head--bot p {
  color: grey;
}
.head--bot h2 {
  margin: 0;
}

.list {
  margin-top: 50px;
}
.list h2 {
  margin: 0 0 0 5%;
}
.list p {
  font-weight: bold;
}
.list span {
  position: absolute;
  left: -10px;
  padding: 5px 10px;
  background: #9356DC;
  border-radius: 20px;
  color: white;
  font-size: 14px;
}
.list__notice--card {
  position: relative;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  margin: 30px auto;
  box-shadow: 0 5px 5px rgb(228, 228, 228);
}
.list__notice--card .fa-mobile-screen-button, .list__notice--card .fa-list-ul, .list__notice--card .fa-store {
  color: gray;
  margin: 0 30px;
}
.list__notice--card:hover {
  background-color: rgba(146, 86, 220, 0.2117647059);
}
.list__notice--card:hover .fa-mobile-screen-button, .list__notice--card:hover .fa-list-ul, .list__notice--card:hover .fa-store {
  color: #9356DC;
}

.bloc {
  background-color: rgb(245, 245, 245);
  padding: 25px 0;
}
.bloc a {
  text-decoration: none;
  color: black;
}
.bloc p {
  margin: 0;
}
.bloc h2 {
  margin-left: 5%;
}
.bloc__zone__top__card, .bloc__zone__bot__card {
  width: 90%;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgb(230, 230, 230);
  overflow: hidden;
  position: relative;
}
.bloc__zone__top__card--new, .bloc__zone__bot__card--new {
  padding: 10px 15px;
  background-color: #99E2D0;
  border-radius: 2px;
  color: green;
  position: absolute;
  top: 15px;
  right: 20px;
  font-weight: bold;
}
.bloc__zone__top__card--img, .bloc__zone__bot__card--img {
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.bloc__zone__top__card--img img, .bloc__zone__bot__card--img img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.bloc__zone__top__card--text, .bloc__zone__bot__card--text {
  width: 100%;
  background-color: white;
  font-size: 15px;
  display: flex;
}
.bloc__zone__top__card--text--title, .bloc__zone__bot__card--text--title {
  width: 85%;
  margin: auto;
  margin: 10px 0;
}
.bloc__zone__top__card--text--title p, .bloc__zone__bot__card--text--title p {
  margin-top: 5px;
  margin-left: 20px;
}
.bloc__zone__top__card--text--title h4, .bloc__zone__bot__card--text--title h4 {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.bloc__zone__top__card--text--heart, .bloc__zone__bot__card--text--heart {
  display: flex;
  font-size: 30px;
  margin: auto;
}
.bloc__zone__top__card--text--heart .far, .bloc__zone__bot__card--text--heart .far {
  opacity: 1;
}
.bloc__zone__top__card--text--heart .fas, .bloc__zone__bot__card--text--heart .fas {
  margin-left: -30px;
  opacity: 0;
  color: #9356DC;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.far:hover {
  opacity: 0;
  transition: 2;
}

.fas:hover {
  opacity: 1;
  transition: 2;
}

.fa-utensils, .fa-handshake-angle {
  font-size: 12px;
  margin-right: 10px;
}

.foot {
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 30px 0;
}
.foot h3 {
  font-family: "shrikhand";
  margin-left: 5%;
}
.foot p {
  margin-left: 5%;
}
.foot a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

main {
  margin: 0;
}

figure {
  margin: 0;
  width: 100%;
  height: 230px;
  overflow: hidden;
}
figure img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.conteneur {
  padding-top: 15px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  border-radius: 30px 30px 0 0;
  position: relative;
  margin-top: -25px;
}
.conteneur h2 {
  text-align: center;
  font-family: "shrikhand";
  margin: 0;
}
.conteneur h2 .fa-heart {
  padding-left: 30px;
}
.conteneur .commande {
  width: 100%;
  text-align: center;
}
.conteneur .commande .btn {
  margin-top: 20px;
  margin-bottom: 40px;
}
.conteneur__block__zone--categorie {
  margin-left: 5%;
  margin-top: 40px;
  font-weight: normal;
  position: relative;
  padding-bottom: 10px;
}
.conteneur__block__zone--categorie::after {
  content: "";
  background-color: #99E2D0;
  height: 4px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.conteneur__block__zone__choix {
  display: flex;
  background-color: white;
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgb(230, 230, 230);
  overflow: hidden;
}
.conteneur__block__zone__choix--prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10%;
  font-weight: bold;
  margin: 0 20px 0 0;
  padding-left: 10px;
}
.conteneur__block__zone__choix--text {
  width: 90%;
  padding-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.conteneur__block__zone__choix--text span {
  font-size: 14px;
  margin: 0 0 0 15px;
}
.conteneur__block__zone__choix--text h4 {
  font-weight: bold;
  margin: 0 0 0 15px;
  padding: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.conteneur__block__zone__choix--ok {
  display: flex;
  align-items: center;
  margin-right: -63px;
  background-color: #99E2D0;
  padding: 0 20px;
}
.conteneur__block__zone__choix--ok i {
  color: #99E2D0;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  font-size: 14px;
}

.conteneur__block__zone__choix:hover .conteneur__block__zone__choix--ok {
  margin-right: 0;
  transition: 0.8s;
}
.conteneur__block__zone__choix:hover i {
  transform: rotate(360deg);
  transition: 0.8s;
}

@media screen and (min-width: 900px) {
  .list__notice {
    display: flex;
    margin: auto;
    width: 100%;
  }
  .list__notice--card {
    width: 33%;
    margin: 30px 12px;
  }

  .bloc__zone {
    align-items: center;
    justify-content: center;
  }
  .bloc__zone__top, .bloc__zone__bot {
    display: flex;
  }
  .bloc__zone__top__card, .bloc__zone__bot__card {
    width: 47%;
    margin: 10px auto;
  }

  .conteneur__block {
    display: flex;
    justify-content: space-around;
  }
  .conteneur__block__zone {
    width: 32%;
  }
  .conteneur__block__zone__choix {
    width: 95%;
  }
}
@media screen and (min-width: 700px) {
  .foot {
    text-align: center;
  }
  .foot h3 {
    margin-left: 0;
  }
  .foot p {
    margin: 0 20px;
  }
  .foot__nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
