.fa-utensils, .fa-handshake-angle {
    font-size: 12px;
    margin-right: 10px;
}

.foot {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 3% 0;

    h3 {
        font-family: 'shrikhand';
        margin-left: 5%;
    }

    p {
        margin-left: 5%;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
}