.head {
    text-align: center;

    &--top {
        display: flex;
        justify-content: center;
        background-color: rgb(228, 228, 228);
    }
    
    &--bot {
        background-color: rgb(245, 245, 245);
        padding-bottom: 10%;

        p {
            color: grey;
        }
    }
}
.list {
   margin-top: 10%;

   h2 {
       margin: 0 0 0 5%;
   }

   &__notice {
         text-align: center;

         &--card {
             background-color: rgb(245, 245, 245);
             border-radius: 20px;
             padding: 10px;
             margin: 5% 8%;
             box-shadow: 0 5px 5px rgb(228, 228, 228);       
        }     
    }
}