.fa-location-dot {
    padding-right: 10px;
}
.arrow {
    position: relative;
}

.fa-arrow-left {
    font-size: 25px;
    color: black;
    position: absolute;
    left: 20px;
    top: 5px;
}

header {
    padding: 1rem;

    .logo {
        align-items: center;
    }
}
