main {
    margin-top: 10%;
}
.bloc {
    background-color: rgb(245, 245, 245);
    padding: 25px 0;

    a {
        text-decoration: none;
        color: black;
    }

    p {
        margin: 0;
    }

    h2 , h3 , p{
        margin-left: 5%;
    }

    &__card {
        width: 90%;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 5%;
        box-shadow: 0 5px 10px rgb(230, 230, 230);
        overflow: hidden;

       &--img {
           height: 180px;
           width: 100%;
           overflow: hidden;
           
           img {
            width: 100%;
        }
       }
       
       &--text {
           width: 100%;
           background-color: white;
           font-size: 15px;
           display: flex;

           &--title {
               width: 85%;
               margin:auto;
               margin: 10px 0;


               p{
                   margin-top: 2%;
               }

           }

           &--heart {
                font-size: 30px;
                margin: auto;
           }
       }
    }
}
