.head {
    text-align: center;

    &--top {
        display: flex;
        justify-content: center;
        background-color: rgb(228, 228, 228);
    }
    
    &--bot {
        background-color: rgb(240, 240, 240);
        padding-bottom: 10%;
        
        h2 {
            margin: 0;
            padding-top: 10%;
        }

        p {
            color: grey;
        }
    }
}