@font-face {
    font-family: 'roboto-regular';
    src: url('../police/roboto/regular/Roboto-Regular.eot');
	src: url('../police/roboto/regular/Roboto-Regular.eot?iefix') format('eot'),
	     url('../police/roboto/regular/Roboto-Regular.woff') format('woff'),
	     url('../police/roboto/regular/Roboto-Regular.ttf') format('truetype'),
	     url('../police/roboto/regular/Roboto-Regular.svg') format('svg');
}
@font-face {
    font-family: 'shrikhand';
    src: url('../police/shrikhand/Shrikhand-Regular.otf') format('opentype');
}
body {
    max-width: 500px;
    font-family: 'roboto-regular';
}
h1 {
    font-family: 'shrikhand';
    text-align: center;
}
h3 {
    margin: 0;
}