// animation au début de page entrée/plats/desserts
@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.conteneur__block {
    
    &__zone {
        animation: pop 1s;
        transform: scale(0);
        animation-fill-mode: forwards;
    }

    &__zone2 {
        
        animation-delay: 1s;
        
    }

    &__zone3 {

        animation-delay: 2s;
    }
}

// slide partie verte avec check
.conteneur__block__zone__choix:hover {

    .conteneur__block__zone__choix--ok {
        margin-right: 0;
        transition: 0.8s;
    }
    i {
        transform: rotate(360deg);
        transition: 0.8s;
    }
}


// les coeurs
.bloc__zone__top__card--text--heart {

    .far {
        opacity: 1;

        &:hover {
            opacity: 0;
        }
    }

    .fas {
        margin-left: -29.7px;
        opacity: 0;
        background: linear-gradient($primaire, $secondaire,);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:hover {
            opacity: 1;
            transition: 1s;
        }
    }
}

.bloc__zone__bot__card--text--heart {

    .fas {
        margin-left: -29.7px;
        opacity: 0;
        background: linear-gradient($primaire, $secondaire,);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            opacity: 1;
            transition: 1s;      
        }
    }
}

// page de chargement
@keyframes charge {
    0% {
        transform:  rotate(0);
    }
    100% {
        transform:  rotate(360deg);
    }
}
@keyframes fin {
    100% {
       opacity: 0;
       z-index: -1;
    }
}

.chargement {
        animation: fin;
    &--now {
        animation: charge ease-in-out 2s;
        animation-iteration-count: 3;
    }
}
