// animation au début de page entrée/plats/desserts
@keyframes pop1 {
    0% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
@keyframes pop2 {
    0% {
        transform: scale(0) rotate(0);
    }
    30% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
@keyframes pop3 {
    0% {
        transform: scale(0) rotate(0);
    }
    40% {
        transform: scale(0) rotate(0);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
.conteneur__block {
    &__zone1 {
    animation: pop1 1s;
    }

    &__zone2 {
        animation: pop2 2s;
    }

    &__zone3 {
        animation: pop3 3s;
    }
}

// slide partie verte avec check
.conteneur__block__zone1__choix:hover {

    .conteneur__block__zone1__choix--ok {
        margin-right: 0;
        transition: 0.8s;
    }
    i {
        transform: rotate(360deg);
        transition: 0.8s;
    }
}
.conteneur__block__zone2__choix:hover {

    .conteneur__block__zone2__choix--ok {
        margin-right: 0;
        transition: 0.8s;
    }
    i {
        transform: rotate(360deg);
        transition: 0.8s;
    }
}
.conteneur__block__zone3__choix:hover {
    
    .conteneur__block__zone3__choix--ok {
        margin-right: 0;
        transition: 0.8s;
    }
    i {
        transform: rotate(360deg);
        transition: 0.8s;
    }
}

// les coeurs
.bloc__zone__top__card--text--heart {

    .far {
        opacity: 1;
        &:hover {
            opacity: 0;
        }
    }

    .fas {
        margin-left: -29.7px;
        opacity: 0;
        background: linear-gradient($primaire, $secondaire,);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            opacity: 1;
            transition: 1s;
            z-index: 2;
        }
    }
}

.bloc__zone__bot__card--text--heart {

    .far {
        opacity: 1;
        &:hover {
            opacity: 0;
        }
    }

    .fas {
        margin-left: -29.7px;
        opacity: 0;
        background: linear-gradient($primaire, $secondaire,);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
            opacity: 1;
            transition: 1s;
            z-index: 2;
        }
    }
}

// page de chargement
@keyframes charge {
    0% {
        transform:  rotate(0);
    }
    100% {
        transform:  rotate(360deg);
    }
}
@keyframes fin {
    100% {
       opacity: 0;
       z-index: -1;
    }
}

.chargement {
        animation: fin;
    &--now {
        animation: charge ease-in-out 2s;
        animation-iteration-count: 3;
    }
}